---
import React from "../icons/React.astro";
import Next from "../icons/Next.astro";
import Tailwind from "../icons/Tailwind.astro";
import Express from "../icons/Express.astro";
import Typescript from "../icons/Typescript.astro";
const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: Next,
  },
  TAILWIND: {
    name: "Tailwindcss",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },

  EXPRESS: {
    name: "Express",
    class: "bg-black text-white",
    icon: Express,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-white/10",
    icon: Typescript,
  },
};

const PROJECTS = [
  {
    title: "Portoflio",
    description:
      "Portfolio de Manuel Blanco,  un talentoso desarrollador web Full Stack con mas de 5 años de  experiencia en tecnologías modernas como React, Next.js, Nuxtjs, Node.js, y más.",
    tags: [TAGS.REACT, TAGS.NEXT, TAGS.TAILWIND],
    github: "",
    link: "",
    image: "https://via.placeholder.com/300x200",
  },
  {
    title: "Sistema de Gestión de Citas",
    description:
      "Sistema de Gestión de Citas, un proyecto de tecnologías modernas como React, Next.js, Node.js, y más.",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.EXPRESS],
    github: "",
    link: "",
    image: "https://via.placeholder.com/300x200",
  },
  {
    title: "Sistem de Inventario",
    description:
      "Sistema de Inventario, un proyecto de tecnologías modernas como React, Next.js, Node.js, y más.",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.EXPRESS],
    github: "",
    link: "",
    image: "https://via.placeholder.com/300x200",
  },
  {
    title: "E-commerce app Backend",
    description:
      "Mi portfolio cuando no tenia mucha experiencia en tecnologias como React, Next.js, Node.js, y más.",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.EXPRESS],
    github: "",
    link: "",
    image: "https://via.placeholder.com/300x200",
  },
];
---

{
  PROJECTS.map(({ title, description, tags, github, link, image }) => (
    <article class="w-full md:w-1/2 lg:w-1/3 p-4">
      <h3 class="text-2xl font-semibold text-primary mb-2">{title}</h3>
      <p class="text-lg  mb-2 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row">
        {tags.map((tag) => (
          <li >
            <span class={`flex rounded-full px-2 gap-x-4 flex-row mb-2 items-center  ${tag.class} `}>
              <tag.icon class:list={["size-8"]} />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-white/10 shadow-2xl"
        src={image}
        alt={`Screenshot of ${title}`}
      />
    </article>
  ))
}
